/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #EAE8E8;
}

.jumbotron.genre-header-jumbotron {
  background-color: #70a4a7;
  color: white;
}

div.container.genres-index {
  width: 70%;
}

a.navbar-brand {
  padding-top: 7px;
  padding-bottom: 6px;
}

button.logo {
  border-width: 0px;
  background-color: inherit;
}

button.navbar-links {
  border-width: 0px;
  background-color: inherit;
}

div.genre-index-item {
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

h1.genre-header {
  text-align: center;
}

img.genre-image {
  height: 250px;
  // box-sizing: border-box;
  // padding: 5px;
  // background-color: black;
  // margin-bottom: 50px;
}

div.genre-index-item:hover {
  cursor: pointer;
}

h1.genre-text {
  display: block;
  text-size: 25px;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, 0); // move 50% of text width to the left
  color: black;
  text-shadow:
    -1px -1px 0 #BBB,
    1px -1px 0 #BBB,
    -1px 1px 0 #BBB,
    1px 1px 0 #BBB;
  // left: 40%;
}

.container.project-form-container {
  width: 400px;
}

button.btn.btn-default {
  width: 100%;
}

button.no-border:focus{
  outline: none;
}

// button.navbar-links.no-border:active{
//   background-color: #999;
// }
