// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5.error-messages {
  color: red;
  font-size: 16px;
}

.container.sign-in {
  width: 400px;
  border-width: 1px;
}

img.brand {
  height: 40px;
}

button.btn.btn-default {
  width: 100%;
  background-color: #70a4a7;
  font-weight: 450;
  color: black;
  font-size: 16px;
}

button.btn.btn-default:focus {
  outline: none;
  background-color: #5A8386
}
