// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input_text {
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14pt;
  background-color: white;
}

label {
  font-family: sans-serif;
}

.form {
  margin: auto;
}

img.brand {
  height: 40px;
  margin: 0px;
}
